#nav-bar {
  position: fixed;
  top: 0rem;
  min-width: 100%;
  min-height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 999;
}
#nav-bar .logo {
  margin-left: 1rem;
  height: 5rem;
  width: 5rem;
}
#nav-bar .header {
  font-size: 2rem;
  line-height: 250%;
  margin-left: 0.6rem;
}
#nav-bar .compose-toggle {
  margin: 1rem;
  padding: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 0.6rem;
  color: #00a087;
  background-color: rgba(255, 255, 255, 0.7);
}
#nav-bar .compose-toggle:focus {
  outline: none;
}
#nav-bar .compose-toggle:hover {
  background-color: white;
}
#nav-bar .compose-toggle:active {
  background-color: #b4d7cd;
}
#nav-bar .compose-toggle .compose-btn-img {
  margin-right: 0.15rem;
  padding: 0.1rem;
  max-height: 1.5rem;
  max-width: 1.5rem;
}
#nav-bar .compose-toggle .compose-btn-text {
  max-height: 1.5rem;
  margin: 0.15rem;
  padding: 0.1rem;
}

/* tweet submission */
form {
  position: relative;
  background-color: #eee;
  margin: 0rem 2rem;
  border-color: #a0a0a0;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}
form #composer {
  max-width: 90%;
}
form h2 {
  margin: 0.5rem 1rem 0rem 1rem;
}
form textarea {
  width: 90%;
  padding: 0.5rem;
  margin: 1rem auto 1rem auto;
}
form input, form span.counter {
  margin: 1rem;
}
form .compose-rule {
  margin: 0rem 0.5rem 1rem 0.5rem;
}
form .submit-button {
  margin: 1rem;
  padding: 0.5rem;
  border-style: solid;
  border-width: 0.5px;
  border-color: #000;
  border-radius: 5px;
  padding: 0.5rem;
  z-index: 888;
}
form .submit-button:focus {
  outline: none;
}
form .submit-button:hover {
  background-color: #f0f0f0;
}
form .submit-button:active {
  background-color: #888888;
}
form .text-error {
  color: #ff0000;
}
form .errors {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
  bottom: 50px;
  display: none;
  width: 100%;
  color: #ff0000;
  padding: 0rem;
}

/* tweet articles */
article {
  margin: 2rem;
  border-color: rgba(88, 88, 88, 0.3);
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}
article:hover {
  border-color: rgba(88, 88, 88, 0.7);
}
article:hover .tweet-header {
  opacity: 1;
}
article:hover .footer-imgs {
  display: inline;
}
article:first-child {
  display: none;
}
article .tweet-header {
  opacity: 0.6;
  border-radius: 7px;
  background-color: #f2f2f2;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}
article .tweet-body {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.15rem;
  color: #064b58;
  overflow-wrap: break-word;
}
article .tweet-footer {
  padding: 0.15rem 0.75rem 1rem 0.75rem;
  color: rgba(6, 75, 88, 0.8);
  height: 40px;
}
article .footer-imgs {
  display: none;
  padding: 0rem;
  margin: 0rem;
}
article .footer-text {
  padding-top: 0.1rem;
  margin: 0rem;
}
article .tweet-rule {
  border-color: rgba(240, 240, 240, 0.3);
  width: 100%;
}
article .tweet-img {
  border-style: solid;
  border-color: rgba(240, 240, 240, 0.3);
  border-width: 0.5px;
  border-radius: 5px;
  margin: 0.25rem;
}
article .tweet-name {
  font-size: 1.25rem;
  padding-left: 0.25rem;
  margin-top: 0.5rem;
}
article .tweet-username {
  color: rgba(175, 175, 175, 0.7);
  margin-top: 0.75rem;
}
article .img-submit {
  margin: 0rem;
  padding: 0rem;
}
article .img-submit:focus {
  outline: none;
}
article .img-submit:active {
  opacity: 0.5;
}

/* for animating new tweet */
/* box siszing inheritance */
html {
  box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 1000px) {
  html {
    font-size: calc(12px + .4vw);
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout 
 */
body {
  margin: 0rem;
  color: #244751;
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif;
}
body main {
  max-width: 450px;
  min-height: 100vh;
  position: relative;
  padding-top: 120px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}
body .center-inline {
  text-align: center;
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.flex-left {
  display: flex;
  margin-right: auto;
}

.flex-right {
  display: flex;
  margin-left: auto;
}

/*# sourceMappingURL=main.css.map */
