@import 'sass_partials/mixins';
@import 'sass_partials/variables';
@import 'sass_partials/nav';
@import 'sass_partials/new-tweets';


/* box siszing inheritance */
html {
  box-sizing: border-box;
  font-size: 16px;

  @media (max-width: 1000px) {
    font-size: calc(12px + .4vw);
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout 
 */

body {
  margin: $none;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;

  main {
    max-width: 450px;
    min-height: 100vh;
    position: relative;
    padding-top: 120px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);

  }


  .center-inline {
    text-align: center;
  }
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.flex-left {
  display: flex;
  margin-right: auto;
}

.flex-right {
  display: flex;
  margin-left: auto;
}
