h2 {
  margin: 0.5em 1em 0 1em;
}

.compose-rule {
  margin: 0 0.5em 1em 0.5em;
}

form {
  position: relative;
  background-color: #eee;
  margin: 0 2em;
  border-color: #a0a0a0;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
  
}

textarea {
  width: 90%;
  padding: 0.5em;
  margin: 1em auto 1em auto;
}

input {
  margin: 1em;
}

span.counter {
  margin: 1em;
}

.text-error {
  color: red;
}

.submit-button {
  z-index: 999;
}

.errors {
  position: absolute;
  bottom: 50px;
  display: none;
  width: 100%;
  color: #ff0000;
  padding: 0em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}