@mixin button($width, $radius) {
  margin: 1rem;
  padding: 0.5rem;
  border-style: solid;
  border-width: $width;
  border-color: #000;
  border-radius: $radius;
  &:focus {
    outline: none;
  }
}

@mixin select($property) {
  -webkit-user-select: $property;
    -moz-user-select: $property;
    -ms-user-select: $property;
}