@import 'mixins';
@import 'variables';

/* tweet submission */

form {
  position: relative;
  background-color: #eee;
  margin: $none 2rem;
  border-color: #a0a0a0;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: $dropshadow;

  #composer {
    max-width: 90%;
  }

  h2 {
    margin: 0.5rem 1rem $none 1rem;
  }

  textarea {
    width: 90%;
    padding: 0.5rem;
    margin: 1rem auto 1rem auto;
  }

  input, span.counter {
    margin: 1rem;
  }

  .compose-rule {
    margin: $none 0.5rem 1rem 0.5rem;
  }

  .submit-button {
    @include button(0.5px, 5px);
    padding: 0.5rem;
    z-index: 888;
    &:hover {
      background-color: rgb(240, 240, 240);
    }
  
    &:active {
      background-color: rgb(136, 136, 136);
    }

  }

  .text-error {
    color: $error-color;
  }

  .errors {
    @include select(none);
    position: absolute;
    bottom: 50px;
    display: none;
    width: 100%;
    color: $error-color;
    padding: $none;
  }
}


/* tweet articles */ 

article {
  margin: 2rem;
  border-color: rgba(88, 88, 88, 0.3);
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  box-shadow: $dropshadow;

  &:hover {
    border-color: rgba(88, 88, 88, 0.7);

    .tweet-header {
      opacity: 1;
    }

    .footer-imgs{
      display: inline;
    }
  }

  &:first-child {
    display: none;
  }

  .tweet-header {
    opacity: 0.6;
    border-radius: 7px;
    background-color: #f2f2f2;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;

    .tweet-img {
      border-style: solid;
      border-color: $borderfaded;
      border-width: 0.5px;
      border-radius: 5px;
      margin: 0.25rem;
    }
    
    .tweet-name {
      font-size: 1.25rem;
      padding-left: 0.25rem;
      margin-top: 0.5rem;
    }
    
    .tweet-username {
      color: rgba(175, 175, 175, 0.7);
      margin-top: 0.75rem;
    }
  }
  
  .tweet-body {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: rgb(6, 75, 88);
    overflow-wrap: break-word;
  }

  .like-display {
    padding: 0.5rem;
    font-size: 0.75rem;
    color: rgba(175, 175, 175, 0.7);
  }
  
  .tweet-footer {
    padding: 0.15rem 0.75rem 1rem 0.75rem;
    color: rgba(6, 75, 88, 0.8);
    height: 40px;
  }
  
  .footer-imgs {
    display: none;
    padding: $none;
    margin: $none;
  }
  
  .footer-text {
    padding-top: 0.1rem;
    margin: $none;
  }
  
  .tweet-rule {
    border-color: $borderfaded;
    width: 100%;
  }
  

  .img-submit {
    margin: $none;
    padding: $none;
    &:focus {
      outline: none;
    }
    &:active {
      opacity: 0.5;
    }
  }

}




/* for animating new tweet */










